<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.PasswordModifyRecordMapper">
    <resultMap id="BaseResultMap" type="com.domain.PasswordModifyRecord">
        <id column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="admit_set" property="admitSet" jdbcType="BOOLEAN"/>
        <result column="created_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createBy" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertRecord" parameterType="com.domain.PasswordModifyRecord">
        insert into password_modify_record(user_code, password, admit_set, created_at, created_by)
        values(#{userCode}, #{password}, #{admitSet}, now(), #{createBy})
    </insert>
    <select id="selectRecord" resultType="com.domain.PasswordModifyRecord" resultMap="BaseResultMap">
        select * from password_modify_record where user_code = #{userCode} order by created_at desc limit 1;
    </select>
</mapper>